@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}

/* drak2 */
.text-gray {
    color: #424242;
}

/* dark3 */
.text-gray-light {
    color: #727272;
}

.text-black {
    color: #131313;
}

.btn-primary {
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 21px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 85px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    font-weight: 700;
    font-size: 3rem;
}

.nav-item {
    list-style: none;
    margin-right: 30px;

}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.banner,
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-container {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    /* text-align: center; */
}

.banner-description {
    font-weight: 500;
    font-size: 1rem;
    /* text-align: center; */
    
}

.banner-image {
    width: 100%;
}

.teams{
    align-items: center;
    gap: 4.5rem;
}

.team-img-contaner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.25rem;
}
.our-features{
    max-width: 530px;
    gap: 24px;
}
.featuers-title{
    font-weight: 700;
    font-size: 3rem;
}
.features-description{
    font-weight: 500;
    font-size: 1rem;
}

#quick-list{
    font-weight: 500;
}


@media screen and (max-width:576px) {

    .navbar,
    .nav-links ,.teams {
        flex-direction: column;
    }
    .team-img-contaner{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
}