@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}

/* drak2 */
.text-gray {
    color: #424242;
}

/* dark3 */
.text-gray-light {
    color: #727272;
}

/* dark-1 */
.text-black {
    color: #131313;
}

.btn-primary {
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 21px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 3rem;
}

main>section {
    margin-top: 85px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    font-weight: 700;
    font-size: 3rem;
}

.nav-item {
    list-style: none;
    margin-right: 30px;

}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.banner,
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-container {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    /* text-align: center; */
}

.banner-description {
    font-weight: 500;
    font-size: 1rem;
    /* text-align: center; */

}

.banner-image {
    width: 100%;
}

.teams {
    align-items: center;
    gap: 4.5rem;
}

.team-img-contaner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.our-features {
    max-width: 530px;
    gap: 24px;
}

.features-description {
    font-weight: 500;
    font-size: 1rem;
}

#quick-list {
    font-weight: 500;
}

.fact-description {
    font-weight: 500;
    font-size: 1rem;
    max-width: 540px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

}

.fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 10px;
}

.fact-name {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
}

.sponsor-info {
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}

.sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;


}

.sponsors-companies img {
    filter: grayscale(100%);
}






#features-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 1.5rem;
    font-weight: 700;
    font-size: 3rem;

}

.feature-section {
    display: flex;
    gap: 100px;
}

.feature-card {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-card .feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

#experience-badge {
    width: 342px;
    height: 200px;
    margin-left: -80px;
    margin-top: -100px;
}

.experience-year {
    font-weight: 700;
    font-size: 4rem;
}

.experience {
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
}


.footer-section{
    max-width: 1440px;
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    margin: 130px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    
}


@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams,
    .feature-section {
        flex-direction: column;
    }

    .team-img-contaner,
    .facts-container,
    .sponsors-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 20px;
    }

    .feature-section img {
        width: 100%;
    }

    #experience-badge {
        margin: 0 auto;
    }

    .facts-container,
    .sponsors-companies {
        justify-items: center;
        gap: 24px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }
}